* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.infomation button:hover{
    padding-left: 40px;
    cursor: pointer;
    transition: ease-in-out 0.8s;
}
.container {
    font-family: 'Quicksand',sans-serif;
    width: 1440px;
    margin: 0 auto;
    padding-top: 15px;
}
.right button{
    border: none;
    background: none;
}
aside{
    background: rgba(248, 249, 250, 1);
}
.right form input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
  }
  .right form{
    border: none;
    border-radius: 15px;
    background-color: white;
    margin-right: 30px;
    padding-left: 10px;
  }
main {
    display: flex;

}

article {
    background-color: rgba(47, 53, 58, 1);
    width: 17%;
    border-right: 2px solid black;
    text-align: center;
    padding-top: 20px;
    border-radius: 15px;
   
   
}

h3 {
    font-size: 25px;
}

.logo img {
    width: 30%;

}

article button {
    width: 100%;
   
    border: none;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 20px;
    background: none;
    color: white;
    padding-left: 20px;

}
.left{
    text-align: center;
    margin-left: 50px;
}
article a {
    text-decoration: none;
}



button img {
    margin-right: 5px;
}

#avatars {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}

aside {
    padding-left: 30px;
    width: 83%;


}

.infomation {
    margin-top: 50px;
}

.comback {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
}


.banner {
    margin: 20px 0;
    background-color: #6C5DD3;

    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.image img {
    width: 100%;

}

.image {

    display: flex;
    align-items: center;
    justify-content: right;
    width: 250px;
}

.banner_left {
    padding-left: 50px;
}

.banner_left h1 {
    font-size: 50px;
    color: white;
}

.banner_left h4 {
    font-size: 25px;
    color: white;
}

#check {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    height: 50px;
    padding: 10px 20px;
    background-color: white;
    margin-top: 20px;
}

table,
tr,
th,
td {
    border: 1px solid darkorchid;
    border-collapse: collapse;



}

#images {
    width: 200px;
}
#price{
    width: 100px;
    text-align: center;
}

th {
    background-color: #6C5DD3;
    color: white;
}

td img {
    width: 100%;
}

#name {
    width: 150px;
}

table {

    width: 100%;

}

#delete,
#update {
    font-size: 23px;

}
#add{
    border: 2px dashed #6C5DD3;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
}
#add:hover{
    background-color: #6C5DD3;
    color: white;
    
    transition: 1s;
}


#out {
    border: none;
    width: 100px;
    font-size: 20px;
    background-color: darkgreen;
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 5px;

}

#out a {
    text-decoration: none;
    color: white;
}

article h2 {
    margin-top: 10px;
    color: white;
    background-color: black;
    padding: 10px 0;
    border-radius: 10px;
}
article h3{
    color: white;
}
.insi button {
    margin: 5px 0;
    
}

td {
    font-size: 20px;
}

#sale,#date,#category{
    text-align: center;
}

#action {
    display: flex;
    align-items: center;
}